{% extends 'base.html' %}
{% block content %}
<div style="direction: rtl;" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper p-5">
      <!-- Content Header (Page header) -->

              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>الكتب</h1>
                </div>
 
              </div>
          </section>
      
          <!-- Main content -->
          <section class="content">                  
            <!-- Default box -->
            <div class="card card-solid">
              <div class="card-body pb-0">
                <div class="row d-flex align-items-stretch">
                  <!-- الكتب -->
            {% for book in books %}
            <div id="" class="col-md-4">
                <!-- Widget: user widget style 1 -->
              <div id="" class="card card-widget widget-user ">
                <!-- Add the bg color to the header using any of the bg-* classes -->
              <!-- قائمة منسدلة -->
              <div style="position: absolute;" class="btn-group">   
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a  class="btn btn-secondary " href = "{% url 'update-book' book.id %}" >update</a>
                  <a  class="btn btn-danger " href = "{% url 'delete-book' book.id %}" >Delete</a>
              <!-- Button trigger modal -->
                </div>
              </div>

              <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">{{book.title}}</h3>
                <h5 class="widget-user-desc">{{book.author}}</h5>
              </div>
              <div class="widget-user-image">
                <img style="width:100px; height: 100px;" class="img-circle elevation-2" src="dist/img/user2-160x160.jpg" alt="User Avatar">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">{{book.pages}}</h5>
                      <span class="description-text">صفحة</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                      <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">{{book.price}}</h5>
                      <span class="description-text">السعر</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                      <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header text-dark">متاح</h5>
                      <span class="description-text">الحالة</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                      <!-- /.col -->
                </div>
                    <!-- /.row -->
              </div>
              </div>
                <!-- /.widget-user -->
            </div>
          {% endfor %}

        <!-- نهاية الكتاب -->
                </div>
              </div>
              <!-- /.card-body -->

              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
      
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
    </div>
    <!-- /.content-wrapper -->
  </div>
{% endblock content %}